.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Helvetica Neue';
  padding: 50px 120px;
  background-color: #eef6f5; 
  margin: 0;
  gap: 60px;
}

.section1 {
  display:flex;
  /* align-items: center; */
  justify-content: left;
  /* margin: 50px, 50px; */
  padding-top: 100px;
}

h1{
  font-size: 40px;
}

.section1>.content>p {
  font-size: 16px;
  color: #737373;
  padding-bottom: 5px;
  line-height: 1.7;
}

form>p {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

/* .section2 {
  padding: 50px 100px;
  
} */


.formLine1,
.formLine2,
.formLine3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 30px;
  gap: 30px;
}

.formLine4,
.formLine5 {
  display: grid;
  padding-bottom: 30px;
}

.card {
  box-shadow: 3 0 2px 0 rgba(0, 0, 0, 0.3);
  padding: 50px 50px;
  background-color: #fff;
  width: 480px;
  height: 600px;
  border: 1px solid #fff;
  border-radius: 3px;
  border-color: #eef6f5;
}

input,
select {
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #F0F0F0;
  padding: 14px 16px;
  font-family: sans-serif;
  color: #737373;
  box-sizing: border-box;
  size: 14px;
}

button {
  width: 100%;
  background-color: #2ec4b6;
  padding: 14px 16px;
  height: 48px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #2ec4b6;
  color: #fff;
}

label{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.view_password{
  margin-top: 15px;
  margin-left: -25px;
  position: absolute;
}

a{
  color: #2ec4b6;
}